@import url('https://fonts.googleapis.com/css2?family=Asap&family=Courier+Prime:ital@0;1&family=Noto+Sans+KR:wght@100&family=Varela+Round&display=swap');

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #1D1F21 !important;
  font-family: 'ASAP'!important;
  color: 	#f8f8f2 !important;
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 368px) {
  .jumbotron h1 {
      font-size: 5em;      
  }
  .jumbotron h2 {
    font-size: 4em;      
  }
  .jumbotron p{     
    font-size: 20px;
  }

  .carousel {
    width:280px;
    height:330px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron h1 {
      font-size: 10em;
  }

  .jumbotron h2 {
    font-size: 5em;      
  }
  .jumbotron p{     
    font-size: 30px;
  }

  .carousel {
    width:540px;
    height:440px;    
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron h1 {
      font-size: 11em;
  }

  .jumbotron h2 {
    font-size: 6em;      
  }
  .jumbotron .hello p{     
    font-size: 40px;
  }

  .carousel {
    width:25em;
    height:20em;
  }
}

.jumbotron {
  background-color: #1D1F21 !important;
}


.jumbotron h1{  
  color: 	#3272a4;
  text-align: end;
}

.jumbotron h2{  
  color: 	#3272a4;
}

.jumbotron .hello p{
  color: #bd974c !important;  
  text-align: end;
}

.jumbotron .about p{  
  font-size: 30px;
  color: #bd974c !important;
  margin: .02em;  
  text-align: start;
}

.jumbotron .experience p{
  color: #bd974c !important;
  margin: .02em;  
  text-align: start;
}

.carousel-indicators { visibility: hidden; }

.carousel p {
  color: #1D1F21 !important;
}

#skills{
  color: #bd974c !important;
  text-align: start;
}

.p-3{
  padding: 0 !important;
}

#blurb{
  color: #bd974c !important;
  text-align: start;
  font-size: medium;
  font-style: italic;
}

#listAbout{  
  text-align: left; 
}

.carousel-col{
  height: 26vh;
}

#img-fluid{
  height:38vh;
}


.Dets {
  color: #bd974c !important;
  margin: .02em;  
  text-align: left;
}

.ogQuote{
  color: #bd974c !important;
  text-align: right;
}

#contactLink{
  display: inline-block;
}

.jumbotron .experience {
  margin-left: 4em;  
}

.jumbotron .contact h2{
  color: #ff5555 !important;
}

.jumbotron button{
  color: #50fa7b !important; 
}

.jumbotron button::after {
  color: #50fa7b; 
}

.jumbotron button:hover {
  color: #ff79c6 !important;
  background-color: #1D1F21 !important;
}

.carousel-control-next-icon{
  opacity: 1 !important
}

nav :hover{
  color: #ff79c6 !important;
}

.listGroup {
  background-color: #1D1F21 !important;
}

.contactLink:hover {
  color:#8be9fd !important;
}

.contactLink{
  display: inline-block; 
  color: #ff5555; 
  text-align: start; 
  width: 15em;
  font-size: 1.5em;
}

.contact {
  color: #ff5555;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #1D1F21;
  border-radius: .3rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#footer{
  position:absolute;
  bottom:0;
  width:100%; 
  height:60px; 
  margin-top:auto;
}


